[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/edanian
[access "refs/for/refs/*"]
	read = group user/edanian
	push = group user/edanian
	label-Code-Review = -2..+2 group user/edanian
	label-Verified = -1..+1 group user/edanian
	rebase = group user/edanian
	removeReviewer = group user/edanian
	submit = group user/edanian
[access "refs/heads/*"]
	read = group user/edanian
	create = group user/edanian
	push = +force group user/edanian
	pushMerge = group user/edanian
[access "refs/tags/*"]
	push = +force group user/edanian
	pushTag = group user/edanian
	pushSignedTag = group user/edanian
